In [1]:
# !pip install -U yfinance

In [2]:
# !pip show yfinance

### Import Dependencies ###

In [3]:
import yfinance as yf

### Getting Data ###

In [4]:
sol = yf.Ticker("SOL-USD")

# get stock info
sol.info

# get historical market data
hist = sol.history(period="max")

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-04-10,0.832005,1.313487,0.694187,0.951054,87364276,0,0
2020-04-11,0.951054,1.049073,0.765020,0.776819,43862444,0,0
2020-04-12,0.785448,0.956670,0.762426,0.882507,38736897,0,0
2020-04-13,0.890760,0.891603,0.773976,0.777832,18211285,0,0
2020-04-14,0.777832,0.796472,0.628169,0.661925,16747614,0,0
...,...,...,...,...,...,...,...
2022-08-04,38.544640,39.679878,38.044727,38.830673,1235137178,0,0
2022-08-05,38.823994,41.174652,38.795719,40.561031,1198859111,0,0
2022-08-06,40.561169,40.845413,39.953098,40.057007,650997770,0,0
2022-08-07,40.060047,41.494068,39.336483,40.605591,614104051,0,0
2022-08-08,40.609642,43.539856,40.603798,42.170551,1117550363,0,0

### Create SQLite Database ###

In [6]:
import sqlalchemy as sql

In [7]:
engine=sql.create_engine('sqlite:///solana_price_db.db')

In [8]:
data=hist[['Close', 'Volume']]
data['Ticker']='SOL'
data=data.reset_index()
data.head()

/Users/tobix/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        Date     Close    Volume Ticker
0 2020-04-10  0.951054  87364276    SOL
1 2020-04-11  0.776819  43862444    SOL
2 2020-04-12  0.882507  38736897    SOL
3 2020-04-13  0.777832  18211285    SOL
4 2020-04-14  0.661925  16747614    SOL

In [9]:
data.to_sql('solana_price', con=engine)