In [1]:
!pip install -U yfinance

Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: requests>=2.26 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: lxml>=4.5.1 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from yfinance) (1.20.3)
Requirement already satisfied: pandas>=0.24.0 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from yfinance) (1.3.4)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2.0.4)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.74

In [2]:
!pip show yfinance

Name: yfinance
Version: 0.1.74
Summary: Download market data from Yahoo! Finance API
Home-page: https://github.com/ranaroussi/yfinance
Author: Ran Aroussi
Author-email: ran@aroussi.com
License: Apache
Location: /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages
Requires: lxml, multitasking, requests, pandas, numpy
Required-by:

### Import Dependencies ###

In [3]:
import yfinance as yf

### Getting Data ###

In [4]:
bnb = yf.Ticker("BNB-USD")

# get stock info
bnb.info

# get historical market data
hist = bnb.history(period="max")

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,2.053140,2.174230,1.893940,1.990770,19192200,0,0
2017-11-10,2.007730,2.069470,1.644780,1.796840,11155000,0,0
2017-11-11,1.786280,1.917750,1.614290,1.670470,8178150,0,0
2017-11-12,1.668890,1.672800,1.462560,1.519690,15298700,0,0
2017-11-13,1.526010,1.735020,1.517600,1.686620,12238800,0,0
...,...,...,...,...,...,...,...
2022-08-02,283.476349,290.536774,274.820465,283.820984,1768344106,0,0
2022-08-03,283.873840,305.186859,278.811829,298.356781,2133584480,0,0
2022-08-04,298.370117,312.748108,297.432037,310.706055,1926587001,0,0
2022-08-05,310.693604,320.956604,308.606812,315.185547,1585061398,0,0
2022-08-06,315.196991,321.839691,313.733643,315.068909,1151509385,0,0

### Create SQLite Database ###

In [6]:
import sqlalchemy as sql

In [7]:
engine=sql.create_engine('sqlite:///bnb_crypto_price_db.db')

In [8]:
data=hist[['Close', 'Volume']]
data['Ticker']='BNB'
data=data.reset_index()
data.head()

/Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        Date    Close    Volume Ticker
0 2017-11-09  1.99077  19192200    BNB
1 2017-11-10  1.79684  11155000    BNB
2 2017-11-11  1.67047   8178150    BNB
3 2017-11-12  1.51969  15298700    BNB
4 2017-11-13  1.68662  12238800    BNB

In [9]:
data.to_sql('bnb_cypto_price', con=engine)