In [8]:
# !pip install -U yfinance

Requirement already satisfied: yfinance in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (0.1.55)
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: lxml>=4.5.1 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.26 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from yfinance) (1.21.3)
Requirement already satisfied: multitasking>=0.0.7 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24.0 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from yfinance) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2.0.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (1.26.7)
Installing collected packages: yfinance
  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.1.55
    Uninstalling yfinance-0.1.55:
      Successfully uninstalled yfinance-0.1.55
Successfully installed yfinance-0.1.74

In [12]:
# !pip show yfinance

Name: yfinance
Version: 0.1.74
Summary: Download market data from Yahoo! Finance API
Home-page: https://github.com/ranaroussi/yfinance
Author: Ran Aroussi
Author-email: ran@aroussi.com
License: Apache
Location: /Users/kevinlee/anaconda3/lib/python3.7/site-packages
Requires: pandas, multitasking, requests, numpy, lxml
Required-by:

### Import Dependencies ###

In [1]:
import yfinance as yf

/Users/kevinlee/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.8' currently installed).
  warnings.warn(msg, UserWarning)

### Getting Data ###

In [4]:
btc = yf.Ticker("BTC-USD")

# get stock info
btc.info

# get historical market data
hist = btc.history(period="max")

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800,0,0
2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200,0,0
2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700,0,0
2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600,0,0
2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100,0,0
...,...,...,...,...,...,...,...
2022-07-30,23796.818359,24572.580078,23580.507812,23656.207031,28148218301,0,0
2022-07-31,23652.070312,24121.642578,23275.703125,23336.896484,23553591896,0,0
2022-08-01,23336.718750,23464.787109,22890.796875,23314.199219,25849159141,0,0
2022-08-02,23308.433594,23415.041016,22710.083984,22978.117188,28389250717,0,0
2022-08-03,22981.302734,23578.650391,22747.835938,22846.507812,26288169966,0,0

### Create SQLite Database ###

In [6]:
import sqlalchemy as sql

In [7]:
engine=sql.create_engine('sqlite:///crypto_price_db.db')

In [10]:
data=hist[['Close', 'Volume']]
data['Ticker']='BTC'
data=data.reset_index()
data.head()

/Users/kevinlee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        Date       Close    Volume Ticker
0 2014-09-17  457.334015  21056800    BTC
1 2014-09-18  424.440002  34483200    BTC
2 2014-09-19  394.795990  37919700    BTC
3 2014-09-20  408.903992  36863600    BTC
4 2014-09-21  398.821014  26580100    BTC

In [11]:
data.to_sql('cypto_price', con=engine)