In [1]:
!pip install -U yfinance

Collecting yfinance
  Using cached yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: lxml>=4.5.1 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.26 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.26.0)
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: pandas>=0.24.0 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.3.4)
Requirement already satisfied: numpy>=1.15 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.7)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.74

In [2]:
# !pip show yfinance

### Import Dependencies ###

In [3]:
import yfinance as yf

### Getting Data ###

In [4]:
kyl = yf.Ticker("KYL-USD")

# get stock info
kyl.info

# get historical market data
hist = kyl.history(period="max")

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-04,1.545186,1.625052,1.412657,1.442159,2342624,0,0
2021-03-05,1.444419,1.580701,0.704133,0.845732,55675664,0,0
2021-03-06,0.845550,1.007270,0.832757,0.897624,11231830,0,0
2021-03-07,0.897636,0.913484,0.694730,0.746384,13919662,0,0
2021-03-08,0.746185,0.896610,0.608316,0.813372,14603707,0,0
...,...,...,...,...,...,...,...
2022-08-09,0.021388,0.023477,0.019540,0.019802,192342,0,0
2022-08-10,0.019809,0.022713,0.019063,0.021402,116458,0,0
2022-08-11,0.021402,0.022687,0.020557,0.020778,135379,0,0
2022-08-12,0.020785,0.021442,0.019420,0.020726,218419,0,0
2022-08-13,0.020711,0.023389,0.020288,0.021418,288679,0,0

### Create SQLite Database ###

In [6]:
import sqlalchemy as sql

In [7]:
engine=sql.create_engine('sqlite:///kylin_price.db')

In [8]:
data=hist[['Close', 'Volume']]
data['Ticker']='KYL'
data=data.reset_index()
data.head()

/var/folders/df/c8lfmtln1tl1qt_rb9ych34w0000gn/T/ipykernel_99097/628163206.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Ticker']='KYL'

        Date     Close    Volume Ticker
0 2021-03-04  1.442159   2342624    KYL
1 2021-03-05  0.845732  55675664    KYL
2 2021-03-06  0.897624  11231830    KYL
3 2021-03-07  0.746384  13919662    KYL
4 2021-03-08  0.813372  14603707    KYL

In [9]:
data.to_sql('kylin_price', con=engine)