In [1]:
!pip install -U yfinance

Requirement already satisfied: yfinance in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (0.1.74)
Requirement already satisfied: requests>=2.26 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: lxml>=4.5.1 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pandas>=0.24.0 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.3.4)
Requirement already satisfied: numpy>=1.15 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.20.3)
Requirement already satisfied: multitasking>=0.0.7 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.7)

In [2]:
# !pip show yfinance

### Import Dependencies ###

In [3]:
import yfinance as yf

### Getting Data ###

In [4]:
doge = yf.Ticker("DOGE-USD")

# get stock info
doge.info

# get historical market data
hist = doge.history(period="max")

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,0.001207,0.001415,0.001181,0.001415,6259550,0,0
2017-11-10,0.001421,0.001431,0.001125,0.001163,4246520,0,0
2017-11-11,0.001146,0.001257,0.001141,0.001201,2231080,0,0
2017-11-12,0.001189,0.001210,0.001002,0.001038,3288960,0,0
2017-11-13,0.001046,0.001212,0.001019,0.001211,2481270,0,0
...,...,...,...,...,...,...,...
2022-08-09,0.070061,0.073886,0.068462,0.069125,611327142,0,0
2022-08-10,0.069119,0.071309,0.067389,0.071195,431172729,0,0
2022-08-11,0.071205,0.074646,0.070727,0.070930,563908591,0,0
2022-08-12,0.070931,0.072480,0.070027,0.072345,320410367,0,0
2022-08-13,0.072344,0.074860,0.071951,0.072840,446287445,0,0

### Create SQLite Database ###

In [6]:
import sqlalchemy as sql

In [7]:
engine=sql.create_engine('sqlite:///dogecoin_price.db')

In [8]:
data=hist[['Close', 'Volume']]
data['Ticker']='DOGE'
data=data.reset_index()
data.head()

/var/folders/df/c8lfmtln1tl1qt_rb9ych34w0000gn/T/ipykernel_99115/3112828854.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Ticker']='DOGE'

        Date     Close   Volume Ticker
0 2017-11-09  0.001415  6259550   DOGE
1 2017-11-10  0.001163  4246520   DOGE
2 2017-11-11  0.001201  2231080   DOGE
3 2017-11-12  0.001038  3288960   DOGE
4 2017-11-13  0.001211  2481270   DOGE

In [9]:
data.to_sql('dogecoin_price', con=engine)