In [1]:
!pip install -U yfinance

Requirement already satisfied: yfinance in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (0.1.74)
Requirement already satisfied: pandas>=0.24.0 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.3.4)
Requirement already satisfied: numpy>=1.15 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.20.3)
Requirement already satisfied: requests>=2.26 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.2)

In [2]:
# !pip show yfinance

### Import Dependencies ###

In [3]:
import yfinance as yf

### Getting Data ###

In [4]:
xrp = yf.Ticker("XRP-USD")

# get stock info
xrp.info

# get historical market data
hist = xrp.history(period="max")

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,0.217911,0.221791,0.214866,0.217488,147916992,0,0
2017-11-10,0.218256,0.219068,0.205260,0.206483,141032992,0,0
2017-11-11,0.205948,0.214456,0.205459,0.210430,134503008,0,0
2017-11-12,0.210214,0.210214,0.195389,0.197339,251175008,0,0
2017-11-13,0.197472,0.204081,0.197456,0.203442,132567000,0,0
...,...,...,...,...,...,...,...
2022-08-09,0.378777,0.379666,0.362936,0.368101,4098651206,0,0
2022-08-10,0.368080,0.381065,0.360072,0.381065,1732723595,0,0
2022-08-11,0.381098,0.385110,0.378395,0.380563,1088394568,0,0
2022-08-12,0.380538,0.380538,0.371483,0.379995,923071430,0,0
2022-08-13,0.379974,0.386038,0.377452,0.377964,590320028,0,0

### Create SQLite Database ###

In [6]:
import sqlalchemy as sql

In [7]:
engine=sql.create_engine('sqlite:///xrp_price.db')

In [8]:
data=hist[['Close', 'Volume']]
data['Ticker']='XRP'
data=data.reset_index()
data.head()

/var/folders/df/c8lfmtln1tl1qt_rb9ych34w0000gn/T/ipykernel_99131/2956376202.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Ticker']='XRP'

        Date     Close     Volume Ticker
0 2017-11-09  0.217488  147916992    XRP
1 2017-11-10  0.206483  141032992    XRP
2 2017-11-11  0.210430  134503008    XRP
3 2017-11-12  0.197339  251175008    XRP
4 2017-11-13  0.203442  132567000    XRP

In [9]:
data.to_sql('xrp_price', con=engine)