In [1]:
!pip install -U yfinance

Requirement already satisfied: yfinance in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (0.1.74)
Requirement already satisfied: numpy>=1.15 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.20.3)
Requirement already satisfied: lxml>=4.5.1 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pandas>=0.24.0 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.3.4)
Requirement already satisfied: multitasking>=0.0.7 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/tobix/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)

In [2]:
# !pip show yfinance

### Import Dependencies ###

In [3]:
import yfinance as yf

### Getting Data ###

In [4]:
etc = yf.Ticker("ETC-USD")

# get stock info
etc.info

# get historical market data
hist = etc.history(period="max")

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,13.977200,14.496100,13.896400,14.209500,129201000,0,0
2017-11-10,14.188300,15.353500,13.917800,14.603100,299856992,0,0
2017-11-11,14.624500,19.813299,14.590800,19.420900,958982016,0,0
2017-11-12,19.461100,21.754101,15.036500,15.183700,697452992,0,0
2017-11-13,15.309400,16.662600,14.469700,16.105900,350880000,0,0
...,...,...,...,...,...,...,...
2022-08-09,38.009804,38.169735,35.749092,36.420509,884621887,0,0
2022-08-10,36.417870,39.293167,36.312904,38.726295,1585151839,0,0
2022-08-11,38.735577,44.311081,38.391933,42.255386,2550069903,0,0
2022-08-12,42.249588,43.625126,41.294617,43.443085,1525317047,0,0
2022-08-13,43.410114,45.506100,42.991257,43.525810,1337557002,0,0

### Create SQLite Database ###

In [6]:
import sqlalchemy as sql

In [7]:
engine=sql.create_engine('sqlite:///ethclassic_price.db')

In [8]:
data=hist[['Close', 'Volume']]
data['Ticker']='ETC'
data=data.reset_index()
data.head()

/var/folders/df/c8lfmtln1tl1qt_rb9ych34w0000gn/T/ipykernel_99145/2521270605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Ticker']='ETC'

        Date    Close     Volume Ticker
0 2017-11-09  14.2095  129201000    ETC
1 2017-11-10  14.6031  299856992    ETC
2 2017-11-11  19.4209  958982016    ETC
3 2017-11-12  15.1837  697452992    ETC
4 2017-11-13  16.1059  350880000    ETC

In [9]:
data.to_sql('ethclassic_price', con=engine)