In [8]:
# !pip install -U yfinance

Requirement already satisfied: yfinance in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (0.1.55)
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: lxml>=4.5.1 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: requests>=2.26 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from yfinance) (1.21.3)
Requirement already satisfied: multitasking>=0.0.7 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24.0 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from yfinance) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (2.0.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/kevinlee/anaconda3/lib/python3.7/site-packages (from requests>=2.26->yfinance) (1.26.7)
Installing collected packages: yfinance
  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.1.55
    Uninstalling yfinance-0.1.55:
      Successfully uninstalled yfinance-0.1.55
Successfully installed yfinance-0.1.74

In [2]:
!pip show yfinance

Name: yfinance
Version: 0.1.74
Summary: Download market data from Yahoo! Finance API
Home-page: https://github.com/ranaroussi/yfinance
Author: Ran Aroussi
Author-email: ran@aroussi.com
License: Apache
Location: /Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages
Requires: pandas, requests, lxml, multitasking, numpy
Required-by:

### Import Dependencies ###

In [3]:
import yfinance as yf

### Getting Data ###

In [4]:
ada = yf.Ticker("ADA-USD")

# get stock info
ada.info

# get historical market data
hist = ada.history(period="max")

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09,0.025160,0.035060,0.025006,0.032053,18716200,0,0
2017-11-10,0.032219,0.033348,0.026451,0.027119,6766780,0,0
2017-11-11,0.026891,0.029659,0.025684,0.027437,5532220,0,0
2017-11-12,0.027480,0.027952,0.022591,0.023977,7280250,0,0
2017-11-13,0.024364,0.026300,0.023495,0.025808,4419440,0,0
...,...,...,...,...,...,...,...
2022-08-08,0.527488,0.548407,0.523633,0.536596,782794306,0,0
2022-08-09,0.536656,0.537085,0.507641,0.514052,636681258,0,0
2022-08-10,0.513992,0.537886,0.504061,0.537093,816259967,0,0
2022-08-11,0.537104,0.546598,0.529891,0.531258,819277170,0,0
2022-08-12,0.531195,0.541442,0.522035,0.540753,538287825,0,0

### Create SQLite Database ###

In [7]:
import sqlalchemy as sql

In [8]:
engine=sql.create_engine('sqlite:///ada_price_db.db')

In [9]:
data=hist[['Close', 'Volume']]
data['Ticker']='ADA'
data=data.reset_index()
data.head()

/Users/DottiP/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        Date     Close    Volume Ticker
0 2017-11-09  0.032053  18716200    ADA
1 2017-11-10  0.027119   6766780    ADA
2 2017-11-11  0.027437   5532220    ADA
3 2017-11-12  0.023977   7280250    ADA
4 2017-11-13  0.025808   4419440    ADA

In [10]:
data.to_sql('ada_price', con=engine)